<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarttimetable">

    <application
        android:allowBackup="true"
        android:label="SmartTimetable"
        android:theme="@style/Theme.SmartTimetable">

        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".FacultyActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="false"/>

        <activity
            android:name=".DashboardActivity"
            android:exported="false"/>

        <activity
            android:name=".GenerateTimetableActivity"
            android:exported="false"/>

        <activity
            android:name=".ViewTimetableActivity"
            android:exported="false"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.smarttimetable.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>